h3{
    font-size: 25px !important;
    color: black !important;
}
canvas{
    border: 4px black solid;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
 from{box-shadow: 1px,1px,28px rgb(208, 178, 7);}
 to{box-shadow: 1px,1px,35px red;}
}